@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.contacto {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Espacio entre columnas */
    font-family: 'Poppins', sans-serif;
    color: #4CAF50; /* Color principal */
    padding: 100px 20px; /* Padding vertical y horizontal */
}

.footer-left {
    display: flex;
    flex-direction: column;
    margin: 0 50px; /* Espaciado horizontal */
}

.contactanos-text {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem; /* Tamaño de fuente grande */
    margin-bottom: 1.5em; /* Espaciado inferior */
    color: #FF6F61;
    align-self: center; /* Color de texto */
}

.contact-info {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* Espaciado inferior */
}

.contact-info h2 {
    font-size: 1.5rem; /* Tamaño de encabezado */
    color: #4CAF50; /* Color de encabezados */
}

.contact-info p {
    font-size: 1.2rem; /* Tamaño de párrafos */
    margin: 0.5em 0; /* Espaciado vertical */
}

.icon {
    width: 60px; /* Tamaño de íconos */
    margin: 0; /* Espaciado horizontal */
    cursor: pointer; /* Indicar que son clicables */
}

.foto-footer {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .contacto {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        padding: 50px 10px; /* Reducir padding */
    }

    .footer-left, .footer-right {
        margin: 0 auto; /* Centrar contenido */
        text-align: center; /* Centrar texto */
    }

    .contactanos-text {
        font-size: 2rem; /* Reducir tamaño de fuente */
    }

    .contact-info h2, .contact-info p {
        font-size: 1rem; /* Reducir tamaño de fuente */
    }

    .icon {
        width: 30px; /* Reducir tamaño de íconos */
    }
}

@media (max-width: 425px) {
    .contactanos-text {
        font-size: 1.5rem; /* Más pequeño para pantallas muy pequeñas */
    }

    .contact-info h2 {
        font-size: 1.2rem; /* Tamaño de encabezado más pequeño */
    }

    .contact-info p {
        font-size: 0.9rem; /* Tamaño de párrafos más pequeño */
    }
}
