@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.servicios-container {
    padding: 0 60px;
    font-family: 'Poppins', sans-serif;
    color: #4CAF50; /* Color principal */
    text-align: center; /* Centrar todo el texto */
}

.logo {
    width: 150px;
    margin: 0 auto;
    display: block; /* Centrar logo */
}

.titulo {
    font-size: 2.5rem;
    color: #FF6F61; /* Color de título */
    margin: 1em 0;
}

.servicio-title {
    font-size: 1.8rem;
    margin: 1.5em 0 0.5em;
    color: #4CAF50; /* Color de encabezados */
}

.servicio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px; /* Espaciado entre tarjetas */
    justify-items: center; /* Centrar ítems en el grid */
}

.servicio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center; /* Centrar texto dentro de cada tarjeta */
}

.servicio-card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
}

.servicios-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.servicio-descripcion {
    padding: 15px;
}

.precio {
    font-size: 1.5rem;
    color: #FF6F61; /* Color de precio */
}

.vermas-btn {
    background-color: #4CAF50; /* Color del botón */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Espaciado arriba del botón */
}

.vermas-btn:hover {
    background-color: #388E3C; /* Color del botón al pasar el ratón */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .titulo {
        font-size: 2rem; /* Reducir tamaño de fuente en pantallas pequeñas */
    }

    .servicio-title {
        font-size: 1.5rem; /* Reducir tamaño de fuente en pantallas pequeñas */
    }

    .precio {
        font-size: 1.2rem; /* Reducir tamaño de precio en pantallas pequeñas */
    }

    .vermas-btn {
        font-size: 1rem; /* Reducir tamaño de botón en pantallas pequeñas */
    }
}
