@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px; /* Altura fija para el header */
  background-color: #f8f9fa;
  z-index: 1001; /* Asegúrate de que esté por encima del menú lateral */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
}


.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Ajusta el tamaño del logo */
  margin-right: 10px; /* Espaciado entre el logo y el texto */
}

.header-logo-text {
  font-size: 1.8rem; /* Tamaño de fuente más grande */
  color: #4caf50; /* Color verde */
  font-weight: 700; /* Negrita */
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se ajusten */
}

.navbar-links {
  margin: 0 1em;
  padding: 0.5em 1em; /* Espaciado interno */
  color: #4caf50; /* Color verde */
  transition: 0.2s ease-in-out;
  text-decoration: none;
  border-radius: 5px; /* Bordes redondeados */
}

.navbar-links:hover {
  background-color: #c8e6c9; /* Color verde suave al pasar el mouse */
  transform: scale(1.05);
}

.avatar-img {
  width: 75px;
  height: 75px;
  cursor: pointer;
  margin-left: 10px; /* Espaciado entre avatar y otros enlaces */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    padding: 1em; /* Ajusta el espaciado */
  }

  .navbar-right {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinea a la izquierda */
  }

  header {
    height: 60px; /* Altura reducida para móviles si es necesario */
}

.navbar {
    padding: 0 1em;
}

}
