@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #f8f9fa;
  z-index: 1001; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  margin-left: 1em;
  margin-right: 1em;
}
.user-navbar{
  margin-left: 10px;
  margin-top: 15px;
  justify-content: center;
  color: rgb(155, 155, 155);
  font-size: 20px;
  font-weight: bold;
 text-decoration: none;
 
}
.navbar-left {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.logo-img{
  height: 60px;
  width: 60px;
  margin-top: 5px;
}

.hamburger {
  display: none; 
  flex-direction: column;
  cursor: pointer;
  margin-right: 1em;
  margin-top: 20px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #4caf50; /* Color del icono */
  margin: 3px 0;
}


@media (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em; 
  }

.navbar-right {
    display: flex; 
  }

  .hamburger {
    display: flex; 
  }

  header {
    height: 70px; 
  }

  .navbar {
    padding: 0 1em;
  }
}
