
.turnos-container{
    padding: 7em 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #14544E;
    font-family: 'Poppins', sans-serif;
}

